.DS_Store
**/node_modules
**/dist/**
backend/**/package-lock.json
backend/**/.env
frontend/admin-dashboard/package-lock.json
package-lock.json
frontend/OdethMagia/.vscode/extensions.json
frontend/OdethMagia/.vscode/launch.json
frontend/OdethMagia/.vscode/tasks.json
