<div class="container">
    <app-title [title]="aboutMeTitle"></app-title>
    <div class="circle">
        <img src="assets/images/Odeth_ia.jpg" alt="Foto" class="circle-image">
    </div>
    <div class="aboutMe-text">
        <p>Occaecat exercitation dolor velit Lorem irure exercitation. Nostrud do exercitation dolor sit non veniam ea ad incididunt. Laborum consectetur nisi fugiat cillum magna duis tempor labore veniam ad tempor dolore sint. Aliqua velit excepteur minim nisi sit aliquip excepteur Lorem aliqua magna do. Officia eiusmod incididunt culpa nostrud consectetur excepteur elit est. Ea veniam aute ea sit irure et ad sunt ipsum deserunt ipsum excepteur adipisicing. Cupidatat voluptate aliqua eu laboris dolor dolor dolore tempor excepteur excepteur quis elit.</p>
    </div>
</div>


