.container {
  overflow: hidden;
  margin: 10px;
  

}

.center-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  animation: slideAnimation 20s linear infinite; /* Ajusta la duración de la animación según tu preferencia */
}



.news-card {
  flex: 0 0 auto;
  width: 300px; /* Ajusta el ancho según tus necesidades */
  padding: 50px;
  margin-right: 20px; /* Espacio entre tarjetas */
  background-color: #E6CECA; /* Color de fondo de la tarjeta */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
}

.circle-avatar {
  width: 40px; /* Tamaño del círculo */
  height: 40px;
  border-radius: 50%; /* Hacer un círculo */
  position: absolute; /* Posicionamiento absoluto dentro de la tarjeta */
  top: 10px; /* Alineación vertical en el centro superior */
  left: 50%; /* Alineación horizontal en el centro */
  transform: translateX(-50%); /* Ajuste para centrar horizontalmente */
  z-index: 1; /* Asegurarse de que esté sobre el texto */
}


@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 3)); /* Ajusta el valor según el ancho de tus tarjetas y el número de tarjetas visibles */
  }
}




@media (max-width: 768px) {
  .news-card {
    width: 80%; /* Ajusta el tamaño para dispositivos más pequeños */
  }

  .center-title {
    width: auto;
  }

  .container {
    width: auto;
  }
}
